/*
@font-face {
	font-family: "Шрифт";
	src:url("Путь") format("формат");
	font-style: normal;
	font-weight: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/opensans-bold/opensans-bold.eot');
    src: url('../fonts/opensans-bold/opensans-bold.eot') format('embedded-opentype'),
         url('../fonts/opensans-bold/opensans-bold.woff2') format('woff2'),
         url('../fonts/opensans-bold/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold/opensans-bold.ttf') format('truetype')
}

*/