/*.container{*/
    /*min-width: 1170px !important;*/
/*}*/

/*.main-section{*/
    /*-webkit-background-size: auto !important;*/
    /*background-size: auto !important;*/
    /*background-position: center top !important;*/
/*}*/
.roots-text a{
    display: block;
}


/* normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto'; }
.possible-title h1{
    padding: 0 30px;
}
li {
    list-style: none; }
.miracle-center{
    text-align: center;
}
a {
    text-decoration: none; }

.hidden {
    display: none; }

/* preferences */
.title h1 {
    font-size: 28px;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px; }

.btn a, .btn button {
    border: none;
    font-size: 18px;
    background: #bf2f2b;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    width: 324px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-bottom: 5px solid #a81b17;
    margin-top: 16px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.4s ease; }
.btn a:hover, .btn button:hover {
    background: #9d2522; }

.form-remained {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 13px; }
.form-remained span {
    background: #fff;
    border-radius: 100px;
    font-size: 18px;
    color: #0b8228;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px; }

/* popup content */
#popup-content {
    width: 767px;
    position: absolute;
    margin: 0 auto;
    left: 0;
	right: 0;
    background: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 45px 30px;
   top: 30px;
    border-radius: 8px; }
.popup-content .form{
    text-align: center;
    background: #fff;
}
#popup-content .form-title{
    font-size: 22px;
    text-align: center;
}
#popup-content .form-subtitle{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}
#popup-content .form-input, .form-btn, .form-remained{
    text-align: center;
    width: 100%;
}
#popup-content .form-input{
    position: relative;
}
#popup-content .form-input img{
    position: absolute;
    left: 85px;
    bottom: 22px;
}
#popup-content .popup-img{
    position: absolute;
    left: 0;
    top: 0;
}
#popup-content .popup-img img{
    width: 68%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

/* main-section */
.main-section {
    background: url(../img/main-bg.jpeg) no-repeat center top;
    min-height: 1300px;
    background-color: #FFEFE7;
    padding-bottom: 20px;}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px; }

.top-info-left, .top-info-right {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase; }

.top-info-right .payment {
    background: url(../img/payment-icon.png) no-repeat left center;
    padding-left: 37px;
    margin-right: 53px; }

.top-info-right .delivery {
    background: url(../img/delivery-icon.png) no-repeat left center;
    padding-left: 37px; }

.top-info-left {
    display: flex;
    align-items: center; }
.top-info-left .gmo-product {
    width: 112px;
    height: 60px; }

.main-title {
    margin-top: 54px;
    display: flex;
    justify-content: flex-end; }
.main-title h1{
    font-size: 48px;
    line-height: 48px;
}

.main-tables {
    margin-left: 36px; }
.main-tables .main-table {
    background: url(../img/table-icon2.png) no-repeat center center; }

.main-subtitle {
    display: flex;
    justify-content: center;
    margin-top: 60px; }
.main-subtitle li {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 900;
    padding: 5px 0;
    padding-left: 31px;
    background: url(../img/red-tick.png) no-repeat left center;
    margin-right: 18px; }

.main-stock {
    margin-top: 30px; }
.main-stock .sale {
    text-align: center;
    margin-top: 49px;
    margin-left: -33px; }
.main-stock .sale span {
    font-weight: 900;
    font-size: 29px;
    text-align: center; }


.form-title {
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 900; }

.form-subtitle {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900; }

#form,#lv-formLanding1 {
    text-align: center;
    position: relative; }

.main-form .form-input {
    position: relative; }

#form2 .input-phone,#lv-formLanding2 .input-phone {
    position: absolute;
    left: 70px;
    bottom: 232px; }

#form .input-phone,#lv-formLanding1 .input-phone {
    position: absolute;
    left: 30px;
    bottom: 24px; }

.form-input input,
.form-input select{
    height: 61px;
    width: 325px;
    border: 1px solid #b9352f;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    padding-left: 45px;
    margin-top: 23px;
    border-radius: 4px; }
.form-input input:after {
    content: '';
    display: inline-block;
    background: url(../img/red-phone-icon.png) left center;
    position: absolute;
    right: 0; }

.form-arrow {
    position: absolute;
    left: -70px;
    top: 105px; }

#form2 .form-arrow,#lv-formLanding2 .form-arrow {
    left: -39px;
    top: 342px; }

.miracle {
    margin-top: 65px; }

.miracle-title h1 {
    background: url(../img/title-uzor1.png) no-repeat center center; }

.miracle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px; }

.left-item {
    display: flex;
    align-items: center; }

.left-item-img {
    margin-right: 17px; }

.left-item_text {
    font-size: 18px;
    font-weight: 700; }

.right-item {
    display: flex;
    background: #fff;
    align-items: center;
    height: 75px;
    margin-bottom: 13px;
    padding: 9px 15px;
    border-radius: 5px; }

.right-item_icon {
    margin-right: 14px; }

.right-item_text {
    font-size: 16px;
    font-weight: 700; }

/* possible section */
.possible-section {
    padding-top: 57px;
    padding-bottom: 40px; }
.possible-section .container{
    max-width: 1170px;
}
.possible-title {
    background: url(../img/title-uzor1.png) no-repeat center top; }
.possible-title h1 {
    font-size: 33px;
    margin-top: 0;}

.soil-wrapper {
    margin-bottom: 10px; }

.soil-box {
    display: flex;
    justify-content: space-between; }

.soil-item {
    text-align: center;
    width: 100%; }

.possible-subtitle {
    text-align: center;
    margin-top: 26px; }
.possible-subtitle p {
    font-size: 18px;
    font-weight: 900; }

.soil-title {
    text-align: center; }
.soil-title span {
    background: #51bf65;
    font-size: 24px;
    font-weight: 900;
    padding: 14px 27px;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    margin-top: 38px;
    margin-bottom: 20px;
    border-radius: 8px;
    margin-right: 25px; }

.soil-item_img {
    margin-bottom: 10px; }
.soil-item_img img {
    width: 100%; }

.soil-item_text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    max-width: 96%; }

/* strawberry-section */
.strawberry-section {
    padding-top: 70px;
    background: url(../img/strawberry-bg.jpeg) no-repeat center center/cover;
    height: 885px;
    padding-bottom: 82px; }

.strawberry-title h1 {
    background: url(../img/title-uzor3.png) no-repeat center center; }

.comments-title h1 {
    background: url(../img/title-uzor4.png) no-repeat center center; }

.strawberry-subtitle {
    text-align: center;
    margin-top: 47px;
    margin-bottom: 44px; }
.strawberry-subtitle span {
    font-size: 24px;
    font-weight: 900; }
.strawberry-subtitle p {
    font-size: 18px;
    font-weight: 400;
    max-width: 750px;
    margin: 0 auto;
    margin-top: 5px; }

.strawberry-box {
    display: flex;
    justify-content: space-between; }

.strawberry-column {
    max-width: 300px; }
.strawberry-column .strawberry-item {
    font-size: 18px;
    margin-bottom: 60px; }
.strawberry-column .strawberry-item:last-child {
    margin-bottom: 0; }
.strawberry-column .strawberry-item span {
    font-weight: 900; }
.strawberry-column .strawberry-item p {
    font-weight: 400; }

.strawberry-column1 {
    text-align: right; }

.strawberry-column2 {
    text-align: left; }
.strawberry-column2 span {
    font-weight: 900; }
.strawberry-column2 p {
    font-weight: 400;
    max-width: 250px; }

.strawberry-bottom-text {
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    margin-top: 75px; }

.strawberry-column1 .strawberry-item {
    background: url(../img/left-small-bracket.png) no-repeat right 7px;
    padding-right: 30px;
    padding-bottom: 10px; }

.strawberry-column2 .strawberry-item {
    background: url(../img/right-small-bracket.png) no-repeat left 2px;
    padding-left: 30px;
    padding-bottom: 10px; }

.strawberry-bottom-btn {
    text-align: center;
    width: 100%;}

.strawberry-bottom-btn .btn a {
    border: none;
    background: #bf2f2b;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: 324px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    border-bottom: 5px solid #a81b17;
    margin-top: 16px; }

/* comments-section */
.comments-section {
    padding-top: 74px;
    padding-bottom: 110px;
    background: #fbeadc; }

.comments-box {
    display: flex;
    justify-content: space-between;
    margin-top: 95px; }

.comments-item {
    position: relative;
    background: #fff;
    text-align: center;
    max-width: 353px;
    padding: 170px 26px 40px;
    border-radius: 10px; }

.comments-item_img {
    position: absolute;
    width: 165px;
    height: 170px;
    left: 50%;
    margin-left: -84px;
    top: -22px; }

.comments-item_text {
    font-weight: 400;
    font-size: 16px; }
.comments-item_text p {
    margin-bottom: 25px;
    line-height: 22px;}

.comments-item_name {
    font-size: 18px;
    font-weight: 900;
    margin-top: auto; }

/* last-section */
.last-section {
    padding-top: 15px;
    background: url(../img/last-bg.jpeg) no-repeat center center/cover;
    padding-bottom: 35px;
    position: relative; }

.last-wrapper {
    display: flex;
    justify-content: space-between; }

.last-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
.last-title span {
    background: #0b8228;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    padding: 0 8px;
    color: #fff;
    margin-bottom: 5px;
    max-height: 52px;
    line-height: 52px; }

#form2 {
    text-align: center;
    background: #fff;
    padding: 0 30px;
    padding-top: 33px;
    padding-bottom: 36px;
    border-radius: 20px;
    position: relative; }
#form2 .form-title,#lv-formLanding2 .form-title {
    color: #51bf65; }

.last-subtitle {
    display: flex;
    margin-top: 26px; }
.last-subtitle li {
    font-size: 20px;
    color: #fff;
    padding-left: 26px;
    background: url(../img/white-tick.png) no-repeat left center;
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: 900; }
.last-subtitle li:last-child {
    margin-right: 0; }

.last-bottom-text p {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    background: url(../img/prize-icon.png) no-repeat left center;
    padding: 10px 0;
    padding-left: 60px;
    max-width: 610px;
    text-align: left;
    color: #fff;
    margin: 0 auto;
    margin-top: 35px; }

.old-price {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400; }
.old-price span {
    font-size: 18px !important;
    font-weight: 400 !important;
    position: relative; }
.old-price span:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #000;
    left: 0;
    bottom: 11px; }

.new-price {
    font-size: 30px;
    color: #bf2f2b;
    font-weight: 900; }
.new-price span {
    font-size: 60px !important; }

.form-trigger {
    font-weight: 900;
    font-size: 36px;
    margin-top: 26px;
    line-height: 36px; }

.last-tables {
    position: absolute;
    left: 50%;
    margin-left: -112px;
    top: 300px; }

.last-table {
    background: url(../img/table-icon.png) no-repeat center center;
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 16px;
    height: 52px;
    width: 238px;
    line-height: 15px;
    padding: 11px 0 9px;
    padding-left: 50px;
    text-transform: uppercase; }

/* footer */
footer {
    background: #5c4d46 url(../img/footer-bg.jpeg) no-repeat center top;
    padding: 30px 0;
    color: #fff; }

.roots-text {
    font-size: 13px;
    font-family: 'Roboto-regular';
    color: #fff;
    text-align: center;
    margin-top: 5px; }

.roots-text a{
    color: #fff
}

footer .top-info-right .payment {
    background: url(../img/payment-icon2.png) no-repeat left center; }

footer .top-info-right .delivery {
    background: url(../img/delivery-icon2.png) no-repeat left center; }
footer .top-info-right{
    text-transform: none;
}

.nevidi {
    height: 9px;
    z-index: 10;
    width: 100%;

    position: absolute;

    top: 0;
}
.popupiki {
    display: none;
}

.success .main-section {

    background: url(success_bg.jpg) no-repeat center 0;

    min-height: 515px;


}
